## Read CSV Files

In [40]:
import pandas as pd

dfappl = pd.read_csv('exercises/aapl.csv')
dfamzn = pd.read_csv('exercises/amzn.csv')
dffb = pd.read_csv('exercises/fb.csv')
dfgoog = pd.read_csv('exercises/goog.csv')
dfnflx = pd.read_csv('exercises/nflx.csv')

## Add Column ticker

In [41]:
dfappl['ticker'] = 'AAPL'
dfamzn['ticker'] = 'AMZN'
dffb['ticker'] = 'FB'
dfgoog['ticker'] = 'GOOG'
dfnflx['ticker'] = 'NFLX'

## Concatinate Dataframes

In [42]:
dffaang = pd.concat([
    dfappl,
    dfamzn,
    dffb,
    dfgoog,
    dfnflx
], ignore_index = True)
dffaang.shape
dffaang.to_csv('faang.csv')

## With faang, use type conversion to cast the values of the date column into datetimes and the volume column into integers. Then, sort by date and ticker

In [46]:
dffaang = dffaang.assign(
    date = pd.to_datetime(dffaang.date),
    volume = dffaang['volume'].astype('int') 
)
dffaang.sort_values(
    by = ['date', 'ticker']
)
dffaang.dtypes

date      datetime64[ns]
high             float64
low              float64
open             float64
close            float64
volume             int64
ticker            object
dtype: object

## Find the seven rows in faang with the lowest value for volume.

In [47]:
dffaang.nsmallest(n= 7, columns='volume')

,date,high,low,open,close,volume,ticker
879,2018-07-03,1135.819946,1100.020020,1135.819946,1102.890015,679000,GOOG
979,2018-11-23,1037.589966,1022.398987,1030.000000,1023.880005,691500,GOOG
852,2018-05-24,1080.469971,1066.150024,1079.000000,1079.239990,766800,GOOG
883,2018-07-10,1159.589966,1149.589966,1156.979980,1152.839966,798400,GOOG
905,2018-08-09,1255.541992,1246.010010,1249.900024,1249.099976,848600,GOOG
912,2018-08-20,1211.000000,1194.625977,1205.020020,1207.770020,870800,GOOG
914,2018-08-22,1211.839966,1199.000000,1200.000000,1207.329956,887400,GOOG